.headerServicosM {
    display: none;
}
.servicos {
    background-color: #080C1C;
}

@media screen and (max-width: 768px) {  
    .headerServicos {
        display: none;
    }
    .headerServicosM {
        display: block;
    }
}